yazi/.config/yazi/flavors
yazi/.config/yazi/plugins
nvim/.config/nvim.vanilla
nvim/.config/nvim.lazy
qtile/.config/qtile/__pycache__
qtile/.config/qtile/wallpaper.png
scripts/.local/bin/mib*
scripts/.local/bin/snmp*
leftwm/.config/leftwm/themes/current
leftwm/.config/leftwm/themes/Ascent/
leftwm/.config/leftwm/themes/Catppuccin.bak/
leftwm/.config/leftwm/themes/SpaceJelly/
.rtx.toml
broot/.config/broot/launcher
.uuid
nvim/.config/nvim/plugin/packer_compiled.lua
scripts/.local/bin/kubectl
scripts/.local/state
scripts/.local/share
scripts/.local/include/
scripts/.local/lib/
scripts/.local/bin/docker
scripts/.local/bin/docker-buildx
scripts/.local/bin/docker-credential-osxkeychain
scripts/.local/bin/orb
scripts/.local/bin/orbctl
scripts/.local/bin/running.pid
ranger/.config/ranger/__pycache__/
ranger/.config/ranger/plugins/__pycache__/
gtk-3.0/.config/gtk-3.0/bookmarks
.DS_Store
systemd
mopidy
fish/.config/fish/fish_variables
