*.background:	#0A0A0A
*.color0:	#0A0A0A
*.color1:	#A4A4A4
*.color10:	#A8A8A8
*.color11:	#ADADAD
*.color12:	#B3B3B3
*.color13:	#D0D0D0
*.color14:	#E8E8E8
*.color15:	#f1f1f1
*.color2:	#A8A8A8
*.color3:	#ADADAD
*.color4:	#B3B3B3
*.color5:	#D0D0D0
*.color6:	#E8E8E8
*.color66:	#0A0A0A
*.color7:	#f1f1f1
*.color8:	#a8a8a8
*.color9:	#A4A4A4
*.foreground:	#f1f1f1

*background:	#0A0A0A
*color0:	#0A0A0A
*color1:	#A4A4A4
*color10:	#A8A8A8
*color11:	#ADADAD
*color12:	#B3B3B3
*color13:	#D0D0D0
*color14:	#E8E8E8
*color15:	#f1f1f1
*color2:	#A8A8A8
*color3:	#ADADAD
*color4:	#B3B3B3
*color5:	#D0D0D0
*color6:	#E8E8E8
*color66:	#0A0A0A
*color7:	#f1f1f1
*color8:	#a8a8a8
*color9:	#A4A4A4
*foreground:	#f1f1f1

URxvt*background:	[100]#0A0A0A
URxvt*borderColor:	[100]#0A0A0A
URxvt*cursorColor:	#f1f1f1
URxvt*depth:	32
URxvt*foreground:	#f1f1f1

UXTerm*background:	#0A0A0A
UXTerm*cursorColor:	#f1f1f1
UXTerm*foreground:	#f1f1f1
XTerm*background:	#0A0A0A
XTerm*cursorColor:	#f1f1f1
XTerm*foreground:	#f1f1f1
