;; ┌────────────────────────────────────────────────────────────┐
;; │░█▀█░█▀█░█░░░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▀░█▀█░█▀█░█▀▀░▀█▀░█▀▀│
;; │░█▀▀░█░█░█░░░░█░░█▀▄░█▀█░█▀▄░░░░▀░░░░█░░░█░█░█░█░█▀▀░░█░░█░█│
;; │░▀░░░▀▀▀░▀▀▀░░▀░░▀▀░░▀░▀░▀░▀░░░░▀░░░░▀▀▀░▀▀▀░▀░▀░▀░░░▀▀▀░▀▀▀│
;; └────────────────────────────────────────────────────────────┘

;; File Inclusion
include-file = $HOME/.config/leftwm/themes/current/polybar.colors
include-file = $HOME/.config/leftwm/themes/current/polybar.modules

[bar/mainbar]
width = 100%
monitor = ${env:MONITOR}
height = 25
background = ${color.background}
foreground = ${color.foreground}
font-0 = "Hack Nerd Font:size=8;2"
font-1 = "Hack Nerd Font:size=12;3"
font-2 = "Hack Nerd Font:size=10;3"
separator = " | "
separator-foreground = ${color.surface1}
modules-left = ewmh xwindow
modules-center =
modules-right = vpn network cpu-graph mem temperature pulseaudio battery tray arch-updates kb-switcher date powermenu

