;; ┌────────────────────────────────────────────────────────────┐
;; │░█▀█░█▀█░█░░░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▀░█▀█░█▀█░█▀▀░▀█▀░█▀▀│
;; │░█▀▀░█░█░█░░░░█░░█▀▄░█▀█░█▀▄░░░░▀░░░░█░░░█░█░█░█░█▀▀░░█░░█░█│
;; │░▀░░░▀▀▀░▀▀▀░░▀░░▀▀░░▀░▀░▀░▀░░░░▀░░░░▀▀▀░▀▀▀░▀░▀░▀░░░▀▀▀░▀▀▀│
;; └────────────────────────────────────────────────────────────┘

;; File Inclusion
include-file = $HOME/.config/leftwm/themes/current/polybar.colors
include-file = $HOME/.config/leftwm/themes/current/polybar.modules

[bar/mainbar]
width = 100%
monitor = ${env:MONITOR}
height = 20
background = ${color.background}
foreground = ${color.foreground}
font-0 = "Hack Nerd Font:size=8;2"
font-1 = "Roboto:size=11:weight=bold;2"
font-2 = "Noto Sans:size=11;1"
font-3 = "FontAwesome:size=10"
font-5 = "Feather:size=9;2"
separator = " | "
separator-foreground = ${color.surface1}
modules-left = ewmh xwindow
modules-center =
modules-right = vpn network cpu-graph mem temperature bluetooth pulseaudio battery tray arch-updates kb-switcher date powermenu

