#![enable(implicit_some)]
(
    border_width: 1,
    margin: 5,
    workspace_margin: 5,
    default_border_color: "#1E1E28",
    floating_border_color: "#F2CDCD",
    focused_border_color: "#C6AAE8",
)
