#!/usr/bin/env sh

nitrogen --restore &
dunst &
sleep 1; compton -b
nm-applet &
pasystray &
#clipit &
blueman-applet &
cbatticon &
/home/dief/.local/share/tresorit/tresorit --hidden &

setxkbmap -option caps:backspace
setxkbmap -option compose:ralt

#amixer set Capture toggle

~/.local/bin/dwm-status

export QT_QPA_PLATFORMTHEME="qt5ct"
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export BROWSER=/usr/bin/chromium
export VISUAL=/usr/bin/nvim
export EDITOR=/usr/bin/nvim
export PATH=$HOME/.local/bin:$PATH

