#!/usr/bin/env sh

export BROWSER=brave
export VISUAL=nvim
export EDITOR=nvim
export TERMINAL="kitty"
#
# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# For QT Themes
# export QT_QPA_PLATFORMTHEME=qt5ct

# Zsh config dir
export ZDOTDIR=$HOME/.config/zsh
